.cajacontenedora {
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja1 {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
}

.caja2 {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
}

.caja3 {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
}